<nav class="navbar navbar-expand-lg  bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand"> <img src="https://res.cloudinary.com/giricloud/image/upload/v1650438108/PicsArt_04-20-12.30.14_gjlakm.png" height="28" alt="CoolBrand"> </a>
      
   </div>
</nav>
<br>
<h2 style="padding-left: 45rem;">REVIEW SURVEY</h2>
<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-10 col-lg-10">
          <div class="border">

              <div  *ngFor="let question of questions">
              <div class="question bg-white p-3 border-bottom">
                  <div class="d-flex flex-row align-items-center question-title">
                      <h3 class="text-danger">Q.</h3>
                      <h3 class="mt-1 ml-2">{{question.question}}</h3>
                  </div>
                  <div class="ans ml-2">
                      <label class="radio"> <input type="checkbox" name="brazil"> <span>{{question.answer}}</span>
                      </label>
                  </div>
              </div>
            </div>

          </div>
          <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary border-success align-items-center btn-success" style="background-color: #ffe600;"  type="button">SUBMIT<i class="fa fa-angle-right ml-2"></i></button></div>
      </div>

  </div>
</div>
